* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    min-height: 100vh;
}

body {
    background-color: rgb(48, 48, 48);
    font-family: "Montserrat", sans-serif;
}

/* Photo by Magda Ehlers from Pexels */
.container:before {    
    content: "";
    background-image: url('../assets/bird-bg.jpg');
    background-size: contain;
    position: fixed;
    height: 100%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.2;
}

h1, p {
    color: #e2e2e2;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    text-shadow: 2px 2px #000;
    letter-spacing: 0.2rem;
}

h1 {
    margin-top: 10%;
}

p {
    line-height: 2rem;
    width: 80%;
}

p:nth-of-type(1) {
    margin-top: 3%;
}